<p id="notice"><%= notice %></p>

<p>
  <strong>Chord:</strong>
  <%= @chord.chord %>
</p>

<%= link_to 'Edit', edit_chord_path(@chord),class: :btn %> |
<%= link_to 'Back', chords_path ,class: :btn%>
